body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

button{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

select {
    width: 100%;
    padding: 5px 5px;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

option {
    width: 100%;
        padding: 5px 5px;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        color: black;
}

.btn-group button {
    width: 50px;
    
}

.box1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    width: 25%;
    color: white;
}

.box2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    width: 50%;
    color: white;
}

.box3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    width: 90%;
    color: white;
}

.box4 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    width: 80%;
    color: white;
}

.box5 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    width: 80%;
    color: white;
}

.box6 {
    position: absolute;
    width: 100%;
    top: 10%;
    /* left: 50%; */
    transform: translateX(7px);
    /* transform: translate(-50%, -10%); */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 15px;
    width: 94%;
    color: white;
}

fieldset {
    border: 3px solid dodgerblue;
}

legend {
    border: 3px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    font-size: 20px;
}

.column {
    width: 100%;
    padding: 5px;
    /*height: 300px;*/
}

.column1 {
    float: left;
    width: 45%;
    padding: 5px;
    /*height: 300px;*/
}

.column2 {
    float: right;
    width: 45%;
    padding: 5px;
    /*height: 300px;*/
}

.column3 {
    width: 100%;
    padding-bottom: 5px;
    /*height: 300px;*/
}

.column4 {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#loc {
    border: 3px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    font-size: 15px;
}

.inputBox {
    position: relative;
}

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.searchbox {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 20%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.voltar {
    float: right;
}

.inputUser:focus~.labelInput,
.inputUser:valid~.labelInput {
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
}

.chart-container canvas {
    max-width: 100%;
}

#submit {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

#button {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 25%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#button:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

.div_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#reset {
    background-image: linear-gradient(to right, rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

#reset:hover {
    background-image: linear-gradient(to right, rgb(0, 80, 172), rgb(80, 19, 195));
}

#tabela_usuarios {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tabela_usuarios td,
#tabela_usuarios th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#tabela_usuarios tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabela_usuarios tr:hover {
    background-color: #ddd;
    color: black;
}

#tabela_usuarios th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
}

#listagem {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
}

#listagem td,
#listagem th {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: center;
}

#listagem tr:nth-child(even) {
    background-color: gray;
}

#listagem tr:hover {
    background-color: #ddd;
    color: black;
}

#listagem th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 100%;
    overflow: auto;
    color: white;
}

.sidebar p {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: dodgerblue;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:hover:not(b) {
    background-color: #ddd;
    border-radius: 5px;
    color: black;
}

.pagination b {
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
    padding: 8px 16px;
}

.pagination b:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.descricao {
    width: 500px;
}

.mostrasenha {
    font-size: 12px;
    color: dodgerblue;
    vertical-align: middle;
}
